/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.container li {
  margin: 20px 0;
}
.ng-dirty.ng-valid {
  border-color: limegreen;
}
.ng-dirty.ng-invalid {
  border-color: red;
}
i {
  margin: 15px 0 40px 0;
}
i.fa-smile-o.active, i.fa-smile-o:hover {
  color: limegreen;
}
i.fa-frown-o.active, i.fa-frown-o:hover {
  color: red;
}
.animate {
  -webkit-animation: fadeInRight 1s;
  animation: fadeInRight 1s;
}
.animate.ng-enter {
  -webkit-animation: fadeInRight 1s;
  animation: fadeInRight 1s;
}
.animate.ng-leave {
  -webkit-animation: fadeOutRight 1s;
  animation: fadeOutRight 1s;
}
